@use '../../styles/mixins' as *;

.card {
  display: block;
  padding: var(--spacing-2xl);
  background-color: var(--bg-tertiary);
  border: var(--border-width-thin) solid var(--border-color);
  border-radius: var(--border-radius-lg);
  text-decoration: none;
  color: var(--text-primary);
  @include transition(all, 0.2s);

  &:hover {
    background-color: var(--bg-secondary);
    box-shadow: var(--container-shadow-reduced);
  }
}

.title {
  margin: 0 0 var(--spacing-md);
  font-size: var(--font-size-xl);
}

.tagline {
  margin: 0 0 var(--spacing-sm);
  font-size: var(--font-size-md);
  color: var(--text-secondary);
}

.description {
  margin: 0;
  font-size: var(--font-size-base);
  color: var(--text-tertiary);
}

.descriptionParagraph {
  margin: 0;

  & + & {
    margin-top: var(--spacing-sm);
  }
}
