@use '../../styles/mixins' as *;

.contact {
  @include card(var(--bg-tertiary), var(--padding-contact));
  margin-top: var(--margin-contact-top);
  color: var(--text-primary);

  h2 {
    margin-top: 0;
    font-size: var(--font-size-xl);
    color: var(--text-primary);
  }

  p {
    color: var(--text-primary);
  }
}

@include mobile {
  .contact {
    padding: var(--padding-contact-mobile);
  }
}

